*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(43, 43, 43);
    color: white;
    max-height: 100dvh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.game{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px; 
    max-width: 1200px;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.game::before{
    content: "SUPER SIMON";
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:51%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    pointer-events: none;
}

.game img{
    width: 200px;
    transition: all 0.1s ease;
    filter: brightness(80%);
}

.game img:hover{
    cursor: grab;
    filter: brightness(90%);
}
.game img.selected{
    filter: brightness(120%) drop-shadow(0 0 10px rgba(255, 255, 255, 0.349));
    transform: scale(0.95);
}

.score{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #7a7a7a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score p{
    position: relative;
}